<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../styles/moban/style.css" >
</head>

<body   bgcolor="#d0d0d0">
	<ul id="menu">
		<li><a href="http://sc.chinaz.com/" target="mainFrame">首页</a></li>
		<li><a href="uploadquestion.html" target="mainFrame">我要提问</a></li>
		<li><a href="http://sc.chinaz.com/" target="mainFrame">我来回答</a></li>
		<li><a href="http://sc.chinaz.com/" target="mainFrame">关于</a></li>
	</ul>
</body>
</html>
