<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上传图片</title>
</head>

<body><div align="center" style="width:50%; height:300px; font-size:13px">
<h3>上传图片预览</h3>
<form name="frm" method="post" enctype="multipart/form-data">
<font style="letter-spacing:1px" color="#FF0000">*只允许上传jpg|png|bmp|pjpeg|gif格式的图片</font><br/><br/>
请选择图片：
 <input name='upfile' type='file'/>
 <input name="btn" type="submit" value="上传" /><br />
</form>
<?php
    require_once('../../phplibs/functions.php');
    $picName = ask_uploadimg('upfile',"./images");
    if($picName != null)
    {
        echo "<font color='#FF0000'>图片文件上传成功！</font><br/>";
            //echo "<font color='#0000FF'>图片大小：$img</font><br/>";
            echo "图片预览：<br><div>
    <img src=\"" . $picName . "\" width=200px, height=200px></div>";
    }
?>

</div>
</body>
</html>